<%- include('../partials/head.ejs') %>
<div class="container mt-5">
    <h1 class="mb-4 text-center">Edit <%= editMovie.title %></h1>
    <form action="/movies/update/<%= editMovie._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= editMovie.title %>" required>
      </div>
      
      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3" required><%= editMovie.description %></textarea>
      </div>

      <!-- Genre -->
      <div class="mb-3">
        <label for="genre" class="form-label">Genre</label>
        <input type="text" class="form-control" id="genre" name="genre" value="<%= editMovie.genre %>" required>
      </div>

      <!-- Duration -->
      <div class="mb-3">
        <label for="duration" class="form-label">Duration</label>
        <input type="text" class="form-control" id="duration" name="duration" value="<%= editMovie.duration %>" required>
      </div>

      <!-- Language -->
      <div class="mb-3">
        <label for="language" class="form-label">Language</label>
        <input type="text" class="form-control" id="language" name="language" value="<%= editMovie.language %>" required>
      </div>

      <!-- Image -->
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="file" class="form-control" id="image" name="image">
      </div>

      <!-- Submit Button -->
     <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Update Movie</button>
      </div>
    </form>
  </div>

  <%- include('../partials/footer.ejs') %>